<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Colo Shop Categories</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Colo Shop Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/assets/styles/bootstrap4/bootstrap.min.css">
    <th:import namespace="com.example.doanjava.daos.OrderViewModel" />

    <link href="/assets/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="/assets/plugins/OwlCarousel2-2.2.1/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="/assets/plugins/OwlCarousel2-2.2.1/owl.theme.default.css">
    <link rel="stylesheet" type="text/css" href="/assets/plugins/OwlCarousel2-2.2.1/animate.css">
    <link rel="stylesheet" type="text/css" href="/assets/plugins/jquery-ui-1.12.1.custom/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="/assets/styles/categories_styles.css">
    <link rel="stylesheet" type="text/css" href="/assets/styles/categories_responsive.css">



</head>

<body>

<div class="super_container">


    <th:block th:replace="_Layout :: header">
    </th:block>


    <!-- Hamburger Menu -->


    <div class="container product_section_container">
        <div class="row">
            <div class="col product_section clearfix">
                <div class="row">
                    <div class="col-md-12" id="load_data">
                        <div class="px-4 px-lg-0">

                            <div class="pb-5">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-lg-12 p-1 bg-white rounded shadow-sm mb-5">


                                            <div class="table-responsive" th:if="${not #lists.isEmpty(cart.cartItems)}">

                                                <table class="table">
                                                    <thead>
                                                    <tr class="text-center">
                                                        <th scope="col" class="border-0 bg-light">
                                                            <div class="py-2 text-uppercase">Tên</div>
                                                        </th>
                                                        <th scope="col" class="border-0 bg-light">
                                                            <div class="py-2 text-uppercase">Giá</div>
                                                        </th>
                                                        <th scope="col" class="border-0 bg-light">
                                                            <div class="py-2 text-uppercase">Số Lượng</div>
                                                        </th>
                                                        <th scope="col" class="border-0 bg-light">
                                                            <div class="py-2 text-uppercase">Thành Tiền</div>
                                                        </th>
                                                        <th scope="col" class="border-0 bg-light">
                                                            <div class="py-2 text-uppercase"></div>
                                                        </th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>

                                                    <tr th:each="item : ${cart.cartItems}" class="text-center">
                                                        <td class="border-0 align-middle">
                                                            <div class="p-2">

                                                                <div class="ml-3 d-inline-block align-middle">
                                                                    <h5 class="mb-0"  th:text="${item.getBookName()}"></h5>

                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td class="border-0 align-middle" th:text="${#numbers.formatDecimal(item.price, 0, 'COMMA', 0, 'POINT')} +'VND'  "></td>
                                                        <td class="border-0 align-middle">
                                                            <label>
                                                                <input type="number" min="1"
                                                                       th:value="${item.getQuantity()}"
                                                                       th:attr="data-id=${item.getBookId()}"
                                                                       class="form-control quantity">
                                                            </label>

                                                        </td>
                                                        <td class="border-0 align-middle" th:text="${#numbers.formatDecimal(item.getPrice() * item.getQuantity(), 0, 'COMMA', 0, 'POINT')} +'VND'"></td>

                                                        <td class="border-0 align-middle">
                                                            <a class="btn btn-danger"
                                                               th:href="@{/cart/removeFromCart/{id}(id=${item.getBookId()})}">
                                                                Remove
                                                            </a>
                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <td colspan="3"></td>
                                                        <td>
                                                            <h3>Total: <span th:text="${#numbers.formatDecimal(totalPrice, 0, 'COMMA', 0, 'POINT')} +'VND'  "></span></h3>
                                                        </td>
                                                        <td></td>
                                                    </tr>
                                                    </tbody>
                                                </table>





                                                <div class="col-md-12 text-center">
                                                    <a class="btn btn-success"
                                                       id="checkout" >Checkout</a>
                                                    <a class="btn btn-danger"
                                                       th:href="@{/cart/clearCart}">Clear Cart</a>
                                                    <a id="capnhatgiohang" class="btn btn-outline-primary"
                                                       >Cập Nhật Giỏ Hàng</a>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="container" th:if="${#lists.isEmpty(cart.cartItems)}">
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col-md-6 offset-md-3 text-center">
                                                        <h3 class="mt-5">Giỏ Hàng Trống</h3>

                                                        <a class="btn btn-primary" href="/products">Quay Lại Trang Sản Phẩm
                                                            </a>
                                                    </div>



                                                </div>
                                            </div>
                                        </div>

                                    </div>



                                </div>
                            </div>
                        </div>


                    </div>


                </div>




            </div>
        </div>
    </div>
    <div class="container" id="thongtincanha" style="display:none">
        <div class="row">
            <div class="col-md-12 order-md-1">
                <h3 class="mb-3 text-center">Nhập Thông Tin Cá Nhân</h3>
                <form method="get" th:action="@{/cart/checkout}"  class="needs-validation" >
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="customerName">Full name</label>
                            <input type="text" id="customerName" class="form-control"name="customerName" required>

                            <div class="invalid-feedback">
                                Valid first name is required.
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="Phone">SDT</label>
                            <input type="text" class="form-control" id="Phone" name="phone" required>

                            <div class="invalid-feedback">
                                Valid last name is required.
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="Addrress">Address</label>
                        <input type="text" class="form-control" id="Addrress" name="address" required>
                    </div>
                    <select id="typePayment" name="typePayment" class="form-control" aria-label="Default select example">

                        <option th:value="cash">Cash</option>
                        <option th:value="credit">Credit Card</option>
                        <option th:value="paypal">PayPal</option>
                    </select>
                    <hr>
                    <button class="btn btn-primary btn-lg btn-block" type="submit"
                            onClick="return confirm('Bạn Có Chắc Chắn Đặt Hàng?')">Continue to checkout
                    </button>

                </form>
            </div>
        </div>

    </div>


    <th:block th:replace="_Layout :: footer">
    </th:block>

</div>

<script src="/assets/js/jquery-3.2.1.min.js"></script>
<script src="/assets/styles/bootstrap4/popper.js"></script>
<script src="/assets/styles/bootstrap4/bootstrap.min.js"></script>
<script src="/assets/plugins/Isotope/isotope.pkgd.min.js"></script>
<script src="/assets/plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
<script src="/assets/plugins/easing/easing.js"></script>
<script src="/assets/plugins/jquery-ui-1.12.1.custom/jquery-ui.js"></script>
<script src="/assets/js/categories_custom.js"></script>
<script src="/assets/js/js.js"></script>
</body>

</html>
